@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Medyczny Quiz</title>
</head>
<body class="tlo">
    <div class="logo_tlo_wieksze">
        <img src="~/Images/med.png">
    </div>

    <p class="napis_glowny">Quizy Medyczne</p>

    <div class="div_rzad">
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ krwionośny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ oddechowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ nerwowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ kostny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Całe ciało</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Ranking</p>
        </div>
    </div>

    <div class="div_rzad">
        <div class="logo_tlo_mniejsze" onclick="console.log(true)">
            <img src="~/Images/serce.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/pluca.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/mozg.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/kosci2.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/klata.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/chlopek.png">
        </div>
    </div>
    
</body>
</html>