@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Medyczny Quiz</title>
</head>
<body class="tlo">
    <div class="logo_tlo_wieksze">
        <img src="~/Images/med.png">
    </div>

    <p class="napis_glowny">Quizy Medyczne</p>

    <div class="div_rzad">
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ krwionośny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ oddechowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ nerwowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ kostny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Całe ciało</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Ranking</p>
        </div>
    </div>

    <div class="div_rzad">
        <div class="logo_tlo_mniejsze" onclick="Start('Układ krwionośny')">
            <img src="~/Images/Układ krwionośny.png">
        </div>
        <div class="logo_tlo_mniejsze" onclick="Start('Układ oddechowy')">
            <img src="~/Images/Układ oddechowy.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Układ nerwowy.png" onclick="Start('Układ nerwowy')">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Układ kostny.png" onclick="Start('Układ kostny')">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Całe ciało.png" onclick="Start('Całe ciało')">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/chlopek.png" onclick="Ranking()">
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    //Przeniesienie do odpowiedniego quizu
    function Start(nazwa) {
        window.location.href = '/Home/QuizPage/?nazwa=' + nazwa;
    }

    //Przeniesienie do strony z rankingami
    function Ranking() {
        window.location.href = '/Home/RankingPick';
    }
</script>