@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Rankingi</title>
</head>
<body class="tlo">
    <div class="logo_tlo_wieksze">
        <img src="~/Images/chlopek.png">
    </div>

    <style>
        .logo_tlo_wieksze img:hover {
            animation-name: sides;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    </style>

    <p class="napis_glowny">Ranking wyników</p>

    <div class="div_rzad">
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ krwionośny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ oddechowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ nerwowy</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Układ kostny</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Całe ciało</p>
        </div>
        <div class="div_rzad_napis">
            <p class="napis_poboczny">Menu główne</p>
        </div>
    </div>

    <div class="div_rzad">
        <div class="logo_tlo_mniejsze" onclick="ZobaczRanking('Układ krwionośny')">
            <img src="~/Images/Układ krwionośny.png">
        </div>
        <div class="logo_tlo_mniejsze" onclick="ZobaczRanking('Układ oddechowy')">
            <img src="~/Images/Układ oddechowy.png">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Układ nerwowy.png" onclick="ZobaczRanking('Układ nerwowy')">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Układ kostny.png" onclick="ZobaczRanking('Układ kostny')">
        </div>
        <div class="logo_tlo_mniejsze">
            <img src="~/Images/Całe ciało.png" onclick="ZobaczRanking('Całe ciało')">
        </div>
        <div class="logo_tlo_mniejsze2">
            <img src="~/Images/med.png" onclick="Home()">
        </div>
    </div>
</body>
</html>

<script>
    //Przeniesienie do strony głównej
    function Home() {
        window.location.href = '/Home/MainPage';
    }

    //Przeniesienie do konkretnego rankingu
    function ZobaczRanking(nazwa) {
        window.location.href = '/Home/Ranking?nazwa=' + nazwa;
    }
</script>