body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 300px;
}

.tlo {
    background-color: #282828;
    color: white;
    font-family: Bahnschrift;
}

.logo_tlo_wieksze {
    background-color: #333333;
    height: 350px;
    width: 350px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    border: solid 0px;
    border-color: white;
    box-shadow: 0 0 15px white;
    transition: box-shadow 1s ease-in-out;
    margin-bottom: 30px;
}

.logo_tlo_wieksze:hover {
    box-shadow: 0 0 30px white;
}

.logo_tlo_wieksze img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s;
}

.logo_tlo_wieksze:hover img{
    transform: scale(1.15);
}

.tlo_ogolne {
    background-color: #282828;
    color: var(--kolor);
    font-family: Bahnschrift;
}

.logo_ogolne {
    background-color: #333333;
    height: 250px;
    width: 250px;
    border-radius: 37.5px;
    text-align: center;
    margin: 0 auto;
    border: solid 0px;
    border-color: var(--kolor);
    box-shadow: 0 0 15px var(--kolor);
    transition: box-shadow 1s ease-in-out;
    margin-bottom: 30px;
}

.logo_ogolne img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: var(--animacja);
    animation-duration: var(--czasanimacji);
    animation-iteration-count: infinite;
    animation-timing-function: var(--timing)
}

.logo_ogolne:hover {
    box-shadow: 0 0 45px var(--kolor);
}

.napis_glowny{
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

.napis_poboczny {
    font-size: 20px;
}

.napis_animowany {
    text-align: center;
    font-size: 50px;
}

.pasek {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin: 0 auto;
}

.pasek div{
    width: 1250px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--kolor);
    border: solid 1px var(--kolor);
    border-color: var(--kolor);
    box-shadow: 0 0 15px var(--kolor);
}

.animacja_paska {
    animation: kurczenie 30s forwards;
    animation-timing-function: linear;
}

.animate {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.div_rzad {
    display: flex;
    flex-direction: row;
}

.div_rzad_odp {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

.div_odp {
    background-color: #333333;
    height: 150px;
    width: 600px;
    text-align: center;
    color: var(--kolor);
    border-radius: 15px;
    border: solid 0px;
    border-color: var(--kolor);
    box-shadow: 0 0 15px var(--kolor);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: box-shadow 1s ease-in-out;
}

.div_odp:hover {
    box-shadow: 0 0 45px var(--kolor);
}

.div_odp p {
    font-size: 40px;
    max-width: 590px;
}

.div_rzad_napis {
    text-align: center;
    width: 16.67%;
}

.div_rzad_napis:first-child {
    color: #F21A1D;
}

.div_rzad_napis:nth-of-type(2) {
    color: #5CE5D5;
}

.div_rzad_napis:nth-of-type(3) {
    color: #7FFF00;
}

.div_rzad_napis:nth-of-type(4) {
    color: #B76CFD;
}

.div_rzad_napis:nth-of-type(5) {
    color: #FFFF00;
}

.logo_tlo_mniejsze {
    background-color: #333333;
    height: 200px;
    width: 200px;
    border-radius: 37.5px;
    text-align: center;
    margin: 0 auto;
    border: solid 0px;
    border-color: white;
    box-shadow: 0 0 15px white;
    transition: box-shadow 1s ease-in-out;
    margin-bottom: 30px;
}

.logo_tlo_mniejsze img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo_tlo_mniejsze:first-child {
    border-color: #F21A1D;
    box-shadow: 0 0 15px #F21A1D;
    transition: box-shadow 1s ease-in-out;
}

.logo_tlo_mniejsze:first-child:hover {
    box-shadow: 0 0 45px #F21A1D;
}

.logo_tlo_mniejsze:first-child:hover img {
    animation-name: pulsate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.logo_tlo_mniejsze:nth-of-type(2) {
    border-color: #5CE5D5;
    box-shadow: 0 0 15px #5CE5D5;
    transition: box-shadow 1s ease-in-out;
}

.logo_tlo_mniejsze:nth-of-type(2):hover {
    box-shadow: 0 0 45px #5CE5D5;
}

.logo_tlo_mniejsze:nth-of-type(2):hover img {
    animation-name: breath;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.logo_tlo_mniejsze:nth-of-type(3) {
    border-color: #7FFF00;
    box-shadow: 0 0 15px #7FFF00;
    transition: box-shadow 1s ease-in-out;
}

.logo_tlo_mniejsze:nth-of-type(3):hover {
    box-shadow: 0 0 45px #7FFF00;
}

.logo_tlo_mniejsze:nth-of-type(3):hover img {
    animation-name: translate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.logo_tlo_mniejsze:nth-of-type(4) {
    border-color: #B76CFD;
    box-shadow: 0 0 15px #B76CFD;
    transition: box-shadow 1s ease-in-out;
}

.logo_tlo_mniejsze:nth-of-type(4):hover {
    box-shadow: 0 0 45px #B76CFD;
}

.logo_tlo_mniejsze:nth-of-type(4):hover img {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo_tlo_mniejsze:nth-of-type(5) {
    border-color: #FFFF00;
    box-shadow: 0 0 15px #FFFF00;
    transition: box-shadow 1s ease-in-out;
}

.logo_tlo_mniejsze:nth-of-type(5):hover {
    box-shadow: 0 0 45px #FFFF00;
}

.logo_tlo_mniejsze:nth-of-type(5):hover img {
    animation-name: walk;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.logo_tlo_mniejsze:nth-of-type(6):hover {
    box-shadow: 0 0 45px white;
}

.logo_tlo_mniejsze:nth-of-type(6):hover img {
    animation-name: sides;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes translate {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(3%, 3%);
    }

    75% {
        transform: translate(-3%, -3%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes walk {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(-1%, -3%);
    }

    50% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(1%, -3%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes sides {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(5%, 0%);
    }

    50% {
        transform: translate(0%, 0%);
    }

    75% {
        transform: translate(-5%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes kurczenie {
    0% {
        width: 1250px;
    }

    100% {
        width: 0px;
    }
}
